.nav-links {
    
    width: 600px
}
.nav-link {
    color: var(--light-text);
    text-decoration: none;
    cursor: pointer;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.register {
    background-color: var(--accent-green);
    padding: 10px;
    border-radius: 6px;
}
.register > a{
    color: var(--light-text);
    text-decoration: none;
}
.logout {
    background-color: var(--accent-green);
    padding: 10px;
    border-radius: 6px;
    color: var(--light-text);
    border: 0px solid black;
    font: inherit;
    cursor: pointer;
}
.register > a:hover{
    background-color: var(--light-text);
    color: var(--dark-text);
}
.register:hover{
    background-color: var(--light-text);
    color: var(--dark-text);
}
.logout:hover{
    background-color: var(--light-text);
    color: var(--accent-green);
}