.hero-img {
    width: 100%;
}
.intro{
    position: relative;
    text-align: center;
}
.cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background);
}
.hero-icon{
    margin: 20px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 20px;
    width:80px;
}
.cta > h1 {
    font-size: 70px;
}
.cta > h2 {
    font-size: 30px;
}