.per-category{
    background-color: rgba(244, 247, 244, 0.874);
    color: var(--dark-text);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 6px;
    margin-right: 10px;
}
.per-day{
    background-color: rgba(244, 247, 244, 0.933);
    color: var(--dark-text);
    padding: 20px;
    width: 300px;
    border-radius: 6px;
}
.activity-feed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}