.per-category{
    background-image: radial-gradient(circle, var(--pink), rgb(232, 190, 197));
    color: var(--dark-text);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 6px;
}
.per-day{
    background-image: radial-gradient(circle, var(--light-text), rgb(187, 223, 153));
    color: var(--dark-text);
    padding: 20px;
    width: 300px;
    border-radius: 6px;
}
.activity-feed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}