.activity-page{
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 80px;
    position: relative;
}
.activity-page > h1 {
    font-size: 50px;
    color: white;
}
.activity-img{
    position: fixed;
}