.card {
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 6px;
    background-color: var(--light-text);
    box-shadow: 4px 4px 20px rgba(9, 22, 7, 0.496);
    background-color: rgba(255, 255, 255, 0.586);
    color: var(--dark-text);

}
a#here-text {
    color: var(--accent-green);
}
a.here-text{
    color: var(--accent-green);
    text-decoration: underline;
}